@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import './styles/variables.scss';

body {
  margin: 0;
  font-family: 'Hind Vadodara', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #f0f4fa;
  background-color: $primaryYellow;
}

